@model CarPartsDetailsInformations.ViewModel.InputViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-12">
        <h2>Create New Categories</h2>
        <div id="msg"></div>
        @using (Ajax.BeginForm("Create", "Cars", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnSuccess = "onSuccess", OnFailure = "onFail" }, new { id = "frm" }))
        {
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.CategoryName, new { @class = "col-form-label col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(c => c.Description, new { @class = "col-form-label col-2" })
                <div class="col-4">
                    @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Description, "", new { @class = "text-danger" })
                </div>
            </div>  
            <div class="w-100 mb-1">
                <div class="d-flex justify-content-end me-2">
                    <button type="button" id="add" class="btn btn-secondary btn-sm">Add</button>
                </div>
            </div>
            <div id="qualifications" class="row mb-1">
                @Html.Action("AddQuationToForm")
            </div>
            <div class="w-100">
                <div class="d-flex justify-content-end me-2">
                    <button type="submit" class="btn btn-primary">Save to database</button>
                </div>
            </div>
        }

    </div>
    <div class="col-12">
        @Html.ActionLink("Back to list", "Index")
    </div>
</div>
@section styles
{
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: ""
        });
        $(".date").datepicker({
            format: "yyyy-mm-dd"
        });
        $("#add").click(() => {
            $.ajax({
                type: "POST",
                url: "/Cars/AddQuationToForm",
                cache: false,
                data: $("#frm").serialize(),
                success: r => {
                    $("#qualifications").html(r);
                    $("form").removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");

                }
            });
        });
        $("#pic").change(() => {
            if (document.getElementById("pic").files.length) {
                $("#Picture").val(document.getElementById("pic").files[0].name);
            }

        });
        $(document).on("click", "button.del", function () {
            var i = $(this).data("index");
            $.ajax({
                type: "POST",
                url: "/Cars/AddQuationToForm?index="+i,
                cache: false,
                data: $("#frm").serialize(),
                success: r => {
                    $("#qualifications").html(r);
                    $("form").removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse("form");

                }
            });
        })
        function onSuccess(r) {
            if (r) {
                console.log(r);
                var formData = new FormData();
                if (document.getElementById("pic").files.length > 0) {
                    formData.append("Picture", document.getElementById("pic").files[0]);
                    //console.log(formData);
                    $.ajax({
                        type: "POST",
                        url: "/Cars/UploadImage/"+r.id,
                        data: formData,
                        contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                        processData: false,
                        success: ss => {
                            console.log(ss);
                            alert("Data saved");
                        },
                        error: err1 => {
                            console.log(err1);
                        }
                    });
                }
            }
        }
        function onFail(err) {

        }
    </script>
}