@model  R52_Ex_07_Evidence.ViewModels.CandidateInputModel
@for (var i = 0; i < Model.Qualifications.Count; i++)
{
    <div class="col-3">
        <label>Degree</label>
        @Html.TextBoxFor(x => Model.Qualifications[i].Degree, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Qualifications[i].Degree, "", new {@class="text-danger"})
    </div>
    <div class="col-3">
        <label>Passing year</label>
        @Html.TextBoxFor(x => Model.Qualifications[i].PassingYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Qualifications[i].PassingYear, "", new { @class = "text-danger" })
    </div>
    <div class="col-3">
        <label>Institute</label>
        @Html.TextBoxFor(x => Model.Qualifications[i].Institute, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Qualifications[i].Institute, "", new { @class = "text-danger" })
    </div>
    <div class="col-2">
        <label>Result</label>
        @Html.TextBoxFor(x => Model.Qualifications[i].Result, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Qualifications[i].Result, "", new { @class = "text-danger" })
    </div>
    <div class="col-1">
       
       <button class="btn btn-warning btn-sm mt-4 del" data-index="@i" type="button">Remove</button>
    </div>
}
